@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
	margin: 0;
	font-size: 16px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
a{
    text-decoration: none;
}
header{
    /* box-shadow: 0px 0px 3px 0px #d6d6d6; */
    background: #ffffff;
    position: sticky;
    top: 0;
    z-index: 99;
}
header .user-image{
  width: 40px;
  border: solid 2px #4d4d4f;
  border-radius: 30px;
  padding: unset;
}

.navbar-collapse{
  background: rgb(255, 255, 255);
  position: absolute;
  top: 68px;
  width: 39%;
  right: 0px;
  box-shadow: rgb(202, 202, 202) 0px 0px 4px 1px;
  padding: 10px 15px;
  border-radius: 0px 0px 10px 10px;
}

.bg-theme{
  background: #26a3a3;
}
.text-theme{
  color: #26a3a3;
}
.mb-80{
  margin-bottom: 80px!important;
}
#nav-footer .active{
  color:#5cc6c6;
}

.label-light{
  width: 100%;
  display: block;
  padding: 6px 15px;
  border-radius: 30px;
  background: #f2f2f2;
  color: #000;
}
.font-20{
  font-size: 20px;
}
.theme-card{
  background: #74c4c4;
  padding: 20px;
  border-radius: 10px;
}

main{
    /* margin-bottom: 60px; */
}
.navbar {
    padding-top: 0px;
    padding-bottom: 0px;
}
.navbar-brand{
    font-size: 28px;
    font-weight: 500;
    padding: 2px 0;
}
.home-banner{
  background-image: url(../images/home-banner.jpg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}
.home-banner-top::before{
  /* background-image: url(../images/home-banner-top.jpg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat; */

  position: absolute;
  content: "";
  right: 0;
  width: 100%;
  background-image: url(../images/home-banner-top.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  border-radius: 0;
  height: 100%;
  top: 0;
  opacity: 0.8;
}
.home-title{
    text-align: center;
    font-size: 32px;
    margin-top: 25%;
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
}

.wizard-equipped::after{
  position: absolute;
  content: "";
  left: -5px;
  width: 60%;
  background-image: url(../images/owl.png);
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  border-radius: 0;
  height: 20%;
  bottom: 80px;
  opacity: 1;
  z-index: 9;
}

.bottom-left-circle {
  position: fixed;
  bottom: -90px;
  left: -95px;
  width: 295px;
  height: 277px;
  background-color: #DFE8D4;
  border-radius: 50%;
  margin: 20px;
}

.btn-get-started{
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    background-color: #157e7a;
    color: #fff;
    padding: 15px 25px;
    font-size: 25px;
    box-shadow: 0px 0px 10px 2px #005a56;
    text-decoration: none;
}

.icon-circle{
    border: solid 2px #000;
    padding: 4px 5px;
    border-radius: 20px;
}
.auth-wide{
  position: absolute !important;
  background: #fff;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px 40px 0 40px;
  border-radius: 52px 52px 0 0;
  min-height: calc(100vh - 12rem);
}
.auth-wide.auth-signin{
  min-height: calc(100vh - 22rem);
}
.auth-wide::after{
  position: absolute;
  content: "";
  right: 0;
  width: 60%;
  background-image: url(../images/sloth.png);
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  border-radius: 0;
  height: 20%;
  bottom: -10px;
  opacity: 1;
}

.auth-wide.auth-signin::after{
  height: 25%;
}
.auth-form input{
  padding: 5px 20px;
  margin: 5px 0;
  border: solid 1px #d9d9d9d9;
  width: 100%;
  border-radius: 30px;
}
.color-theme{
  color: #157e7a;
}
.btn-theme{
  background-color: #157e7a;
  color: #fff !important;
  padding: 10px 20px !important;
  text-decoration: none;
  width: unset !important;
  height: unset !important;
  border-radius: 30px !important;
  border: none !important;
}
.btn-theme:hover{
    background-color: #0e6764;
    color: #fff;
}


.btn-theme-border{
  background-color: #ffffff;
  border: solid 2px #157e7a !important;
  color: #000000 !important;
  padding: 10px 20px !important;
  text-decoration: none;
  width: unset !important;
  height: unset !important;
  border-radius: 30px !important;
  display: block;
  text-align: center;
}

.btn-theme-circle{
  border: solid 1px #000;
  border-radius: 30px;
  width: 37px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #000;
}

.fValidations p {
    color: #f44336;
    margin-bottom: 0;
}

#nav-footer{
    background: #004846;
    display: flex;
    justify-content: space-around;
    padding: 10px 0px;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 9999;
}

#nav-footer a{
    color: #fff;
    text-align: center;
}

#nav-footer a .fa{
    font-size: 24px;
}

#nav-footer a span{
    font-size: 14px;
    display: block;
}

.media-card{
  position: relative;
  border: solid 1px #d9d9d9d9;
  margin-bottom: 15px;
  border-radius: 15px;
}

.media-card.is-friend, .media-card.pricing-plan{
  background-color: #ebfff8;
  border: solid 1px #bdeada;
}

.media-card .media-card-content{
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
  padding: 20px 15px;
}

.media-card .media-left img{
  width: 50px;
}
.media-card .fa{
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 28px;
  cursor: pointer;
}
.media-card.pricing-plan .fa{
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 16px;
  cursor: pointer;
  background: #000000;
  color: #fff;
  border-radius: 20px;
  width: 30px;
  height: 30px;
  display: flex
;
  align-items: center;
  justify-content: space-around;
}

.label-secondary{
  font-size: 12px;
}

.top-n{
  top: unset !important;
}

.plan-item-list{
  height: calc(100vh - 24rem);
  overflow-y: overlay;
  background-color: #26A3A3A3;
  padding: 20px;
  border-radius: 10px;
}

.plan-item-list .plan-item label{
  background: #74c4c4;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.plan-item-list .plan-item input[type="checkbox"]{
  width: 25px;
  height: 25px;
}

.order-success .fa{
  font-size: 100px;
}

.order-success small{
  line-height: 16px;
  display: block;
}

.lh-16{
  line-height: 16px;
}

.booking-card{
  background: #ebfff8;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0px 0px 2px 0px #4ddaa8;
}

.booking-card .fa-calendar{
  color: #2e7e62;
  padding: 15px;
  background: #b3f0db;
  border-radius: 30px;
  font-size: 22px;
}

.card-success{
  background: #ebfff8;
  padding: 15px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  border: solid 2px #d9d9d9d9;
  margin-bottom: 80px;
}

.card-success .fa{
  font-size: 20px;
  background: #d9d9d9d9;
  width: 75px;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 15px;
  color: #939393;
}

.card-success img{
  background: #157E7A;
  width: 75px;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 15px;
}

.card-equipped{
  background: #d4eded;
  border-radius: 40px;
  padding: 30px 15px;
  width: 85%;
  margin: auto;
  position: relative;
  z-index: 9;
}






/* Form Wizard */
  .form-wizard {
    /* padding: 30px; */
  }
  .wizard-title{
    padding: 15px 10px;
    font-weight: 600;
  }
  .wizard-newline span{
    display: block;
    font-weight: 600;
    font-size: 20px;
  }
  .wizard-equipped .fa-compass{
    font-size: 120px;
    margin-bottom: 25px;
  }
  .form-wizard .wizard-form-radio {
    display: flex    ;
    margin-left: 5px;
    position: relative;
    align-items: center;
  }
  /* .form-wizard .wizard-form-radio input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-color: #dddddd;
    height: 40px;
    width: 40px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
  } */
  /* .form-wizard .wizard-form-radio input[type="radio"]:focus {
    outline: 0;
  } */
  /* .form-wizard .wizard-form-radio input[type="radio"]:checked {
    background-color: #009688;
  } */
  /* .form-wizard .wizard-form-radio input[type="radio"]:checked::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    display: inline-block;
    background-color: #ffffff;
    border-radius: 50%;
    left: 1px;
    right: 0;
    margin: 0 auto;
    top: 12px;
  } */
  /* .form-wizard .wizard-form-radio input[type="radio"]:checked::after {
    content: "";
    display: inline-block;
    webkit-animation: click-radio-wave 0.65s;
    -moz-animation: click-radio-wave 0.65s;
    animation: click-radio-wave 0.65s;
    background: #000000;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
    border-radius: 50%;
  }
  .form-wizard .wizard-form-radio input[type="radio"] ~ label {
    padding-left: 10px;
    cursor: pointer;
    font-size: 22px;
  } */

  /* Hide the default radio buttons */
  .wizard-form-radio input[type="radio"] {
    display: none;
  }

  /* Style for the labels to look like buttons */
  .radio-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    padding: 10px 50px !important;
  }

  /* Style when radio button is selected */
  .wizard-form-radio input[type="radio"]:checked + label.radio-btn {
    background-color: #157e7a;
    color: #fff !important;
  }

  /* Hover effect */
  .radio-btn:hover {
    background-color: #e0e0e0;
  }

  /* Focus effect for accessibility */
  .wizard-form-radio input[type="radio"]:focus + label.radio-btn {
    outline: 2px solid #007bff;
  }

  
  .form-wizard .form-wizard-header {
    text-align: center;
  }
  .form-wizard .form-wizard-next-btn, .form-wizard .form-wizard-previous-btn, .form-wizard .form-wizard-submit {
    border: solid 2px #444444;
    color: #444444;
    display: inline-block;
    width: 45px;
    padding: 10px;
    display: flex;
    border-radius: 50%;
    height: 45px;
    align-items: center;
    justify-content: center;
  }
  .form-wizard .form-wizard-next-btn:hover, .form-wizard .form-wizard-next-btn:focus, .form-wizard .form-wizard-previous-btn:hover, .form-wizard .form-wizard-previous-btn:focus, .form-wizard .form-wizard-submit:hover, .form-wizard .form-wizard-submit:focus {
    color: #000;
    border-color: #000;
    text-decoration: none;
  }
  .form-wizard .wizard-fieldset {
    display: none;
  }
  .form-wizard .wizard-fieldset.show {
    display: block;
  }
  .form-wizard .wizard-form-error {
    display: none;
    background-color: #d70b0b;
    position: absolute;
    left: 20px;
    right: 0;
    bottom: 0;
    height: 2px;
    width: 80%;
  }
  /* .form-wizard .form-wizard-previous-btn {
    border: solid 2px #ff9898;
    color: #ff9898;
  }
  .form-wizard .form-wizard-previous-btn:hover {
    border: solid 2px #ff0000;
    color: #ff0000;
  } */
  .form-wizard .form-control {
    font-weight: 300;
    height: auto !important;
    padding: 10px 15px;
    color: #484848;
    background-color: #ffffff;
    border: solid 2px #157e7a;
    border-radius: 30px;
  }
  .form-wizard .form-control:focus {
    box-shadow: none;
  }
  .form-wizard .form-group {
    position: relative;
    margin: 30px 0;
  }
  .form-wizard .card-footer .form-group {
    margin: 15px 0;
  }
  .form-wizard .wizard-form-text-label {
    position: absolute;
    left: 20px;
    top: 12px;
    transition: 0.2s linear all;
  }
  .form-wizard .focus-input .wizard-form-text-label {
    color: #157e7a;
    top: -20px;
    transition: 0.2s linear all;
    font-size: 14px;
  }
  .label-clicked {
    top: -22px !important;
  }
  .form-wizard .form-wizard-steps {
    margin: 30px 0;
  }
  .form-wizard .form-wizard-steps li {
    width: 25%;
    float: left;
    position: relative;
  }
  .form-wizard .form-wizard-steps li::after {
    background-color: #f3f3f3;
    content: "";
    height: 5px;
    left: 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
  }
  .form-wizard .form-wizard-steps li span {
    background-color: #dddddd;
    border-radius: 50%;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    position: relative;
    text-align: center;
    width: 40px;
    z-index: 1;
  }
  .form-wizard .form-wizard-steps li:last-child::after {
    width: 50%;
  }
  .form-wizard .form-wizard-steps li.active span, .form-wizard .form-wizard-steps li.activated span {
    background-color: #157e7a;
    color: #ffffff;
  }
  .form-wizard .form-wizard-steps li.active::after, .form-wizard .form-wizard-steps li.activated::after {
    background-color: #157e7a;
    left: 50%;
    width: 50%;
    border-color: #157e7a;
  }
  .form-wizard .form-wizard-steps li.activated::after {
    width: 100%;
    border-color: #157e7a;
  }
  .form-wizard .form-wizard-steps li:last-child::after {
    left: 0;
  }
  .form-wizard .wizard-password-eye {
    position: absolute;
    right: 32px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .radio-flex{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .form-wizard .card-footer{
    position: fixed !important;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    padding: 0 15px;
    background: #ffffffe8;
    /* margin-top: 20px; */
  }

  @keyframes click-radio-wave {
    0% {
      width: 40px;
      height: 40px;
      opacity: 0.35;
      position: relative;
    }
    100% {
      width: 60px;
      height: 60px;
      margin-left: -15px;
      margin-top: -15px;
      opacity: 0.0;
    }
  }
  @media screen and (max-width: 767px) {
    .wizard-content-left {
      height: auto;
    }
  }
  

  /* Progress Camp */
  .progress-camp {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
  }

  .step-camp {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .step-camp img {
    width: 50px;
    object-fit: cover;
  }

  .step-camp .place-pentagon {
    background: #C3BEBE;
    width: 40px;
    height: 40px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 16px;
    color: #7B7777;
    border-radius: 50%;
  }
  .step-camp .place-circle {
    background: #C3BEBE;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 16px;
    color: #7B7777;
    border-radius: 50%;
  }
  .step-camp .place-rectangle {
    background: #C3BEBE;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 16px;
    color: #7B7777;
  }

  .line-camp {
    height: 8px;
    background-color: #007b7f;
    flex: 1;
    margin: 0;
  }