@import url('https://fonts.googleapis.com/css?family=Varela+Round:wght@300&family=Roboto+Condensed:ital,wght@0,300;0,700;1,700&display=swap');

body{
	margin: 0;
	font-family: Varela Round;
	font-size: 16px;
  /* background: #f4f4f4; */
}
a{
    text-decoration: none;
}
header{
    box-shadow: 0px 0px 3px 0px #d6d6d6;
    background: #ffffff;
    position: sticky;
    top: 0;
    z-index: 99;
}
main{
    margin-bottom: 60px;
}
.navbar {
    padding-top: 0px;
    padding-bottom: 0px;
}
.navbar-brand{
    font-size: 28px;
    font-weight: 500;
    padding: 2px 0;
}
.home-banner{
    background-image: url(../images/home-banner.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.home-title{
    text-align: center;
    font-size: 40px;
    margin-top: 25%;
}

.btn-get-started{
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    background-color: #157e7a;
    color: #fff;
    padding: 15px 25px;
    font-size: 25px;
    box-shadow: 0px 0px 10px 2px #005a56;
    text-decoration: none;
}

.icon-circle{
    border: solid 2px #000;
    padding: 4px 5px;
    border-radius: 20px;
}
.auth-form input{
    background-color: #D9D9D9;
    padding: 10px 25px;
    margin: 5px 0;
    border: none;
    width: 100%;
}
.btn-theme{
    background-color: #157e7a;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
}
.btn-theme:hover{
    background-color: #0e6764;
    color: #fff;
}

.fValidations p {
    color: #f44336;
    margin-bottom: 0;
}

#nav-footer{
    background: #c2c2c2;
    display: flex;
    justify-content: space-around;
    padding: 6px 0px;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 9999;
}

#nav-footer a{
    color: #000;
    text-align: center;
}

#nav-footer a .fa{
    font-size: 24px;
}

#nav-footer a span{
    font-size: 14px;
    display: block;
}


/* Form Wizard */
  .form-wizard {
    /* padding: 30px; */
  }
  .form-wizard .wizard-form-radio {
    /* display: inline-block; */
    margin-left: 5px;
    position: relative;
  }
  .form-wizard .wizard-form-radio input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-color: #dddddd;
    height: 40px;
    width: 40px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
  }
  .form-wizard .wizard-form-radio input[type="radio"]:focus {
    outline: 0;
  }
  .form-wizard .wizard-form-radio input[type="radio"]:checked {
    background-color: #009688;
  }
  .form-wizard .wizard-form-radio input[type="radio"]:checked::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    display: inline-block;
    background-color: #ffffff;
    border-radius: 50%;
    left: 1px;
    right: 0;
    margin: 0 auto;
    top: 12px;
  }
  .form-wizard .wizard-form-radio input[type="radio"]:checked::after {
    content: "";
    display: inline-block;
    webkit-animation: click-radio-wave 0.65s;
    -moz-animation: click-radio-wave 0.65s;
    animation: click-radio-wave 0.65s;
    background: #000000;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
    border-radius: 50%;
  }
  .form-wizard .wizard-form-radio input[type="radio"] ~ label {
    padding-left: 10px;
    cursor: pointer;
    font-size: 22px;
  }
  .form-wizard .form-wizard-header {
    text-align: center;
  }
  .form-wizard .form-wizard-next-btn, .form-wizard .form-wizard-previous-btn, .form-wizard .form-wizard-submit {
    border: solid 2px #444444;
    color: #444444;
    display: inline-block;
    width: 45px;
    padding: 10px;
    display: flex;
    border-radius: 50%;
    height: 45px;
    align-items: center;
    justify-content: center;
  }
  .form-wizard .form-wizard-next-btn:hover, .form-wizard .form-wizard-next-btn:focus, .form-wizard .form-wizard-previous-btn:hover, .form-wizard .form-wizard-previous-btn:focus, .form-wizard .form-wizard-submit:hover, .form-wizard .form-wizard-submit:focus {
    color: #000;
    border-color: #000;
    text-decoration: none;
  }
  .form-wizard .wizard-fieldset {
    display: none;
  }
  .form-wizard .wizard-fieldset.show {
    display: block;
  }
  .form-wizard .wizard-form-error {
    display: none;
    background-color: #d70b0b;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
  }
  .form-wizard .form-wizard-previous-btn {
    /* background-color: #fb1647; */
    border: solid 2px #ff9898;
    color: #ff9898;
  }
  .form-wizard .form-wizard-previous-btn:hover {
    /* background-color: #fb1647; */
    border: solid 2px #ff0000;
    color: #ff0000;
  }
  .form-wizard .form-control {
    font-weight: 300;
    height: auto !important;
    padding: 15px;
    color: #888888;
    background-color: #f1f1f1;
    border: none;
  }
  .form-wizard .form-control:focus {
    box-shadow: none;
  }
  .form-wizard .form-group {
    position: relative;
    margin: 25px 0;
  }
  .form-wizard .wizard-form-text-label {
    position: absolute;
    left: 10px;
    top: 16px;
    transition: 0.2s linear all;
  }
  .form-wizard .focus-input .wizard-form-text-label {
    color: #0093a7;
    top: -18px;
    transition: 0.2s linear all;
    font-size: 12px;
  }
  .label-clicked {
    top: -18px !important;
  }
  .form-wizard .form-wizard-steps {
    margin: 30px 0;
  }
  .form-wizard .form-wizard-steps li {
    width: 25%;
    float: left;
    position: relative;
  }
  .form-wizard .form-wizard-steps li::after {
    background-color: #f3f3f3;
    content: "";
    height: 5px;
    left: 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
  }
  .form-wizard .form-wizard-steps li span {
    background-color: #dddddd;
    border-radius: 50%;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    position: relative;
    text-align: center;
    width: 40px;
    z-index: 1;
  }
  .form-wizard .form-wizard-steps li:last-child::after {
    width: 50%;
  }
  .form-wizard .form-wizard-steps li.active span, .form-wizard .form-wizard-steps li.activated span {
    background-color: #0093a7;
    color: #ffffff;
  }
  .form-wizard .form-wizard-steps li.active::after, .form-wizard .form-wizard-steps li.activated::after {
    background-color: #0093a7;
    left: 50%;
    width: 50%;
    border-color: #0093a7;
  }
  .form-wizard .form-wizard-steps li.activated::after {
    width: 100%;
    border-color: #0093a7;
  }
  .form-wizard .form-wizard-steps li:last-child::after {
    left: 0;
  }
  .form-wizard .wizard-password-eye {
    position: absolute;
    right: 32px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .radio-flex{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @keyframes click-radio-wave {
    0% {
      width: 40px;
      height: 40px;
      opacity: 0.35;
      position: relative;
    }
    100% {
      width: 60px;
      height: 60px;
      margin-left: -15px;
      margin-top: -15px;
      opacity: 0.0;
    }
  }
  @media screen and (max-width: 767px) {
    .wizard-content-left {
      height: auto;
    }
  }
  