@import url('https://fonts.googleapis.com/css?family=Varela+Round:wght@300&family=Roboto+Condensed:ital,wght@0,300;0,700;1,700&display=swap');

body{
	margin: 0;
	font-family: Varela Round;
	font-size: 16px;
    background: #f4f4f4;
}
header{
    box-shadow: 0px 0px 3px 0px #d6d6d6;
    background: #ffffff;
    position: sticky;
    top: 0;
    z-index: 99;
}
main{
    /* padding-top: 15px;
    padding-bottom: 15px; */
}
.navbar {
    padding-top: 0px;
    padding-bottom: 0px;
}
.navbar-brand{
    font-size: 28px;
    font-weight: 500;
    padding: 2px 0;
}
.home-banner{
    background-image: url(../images/home-banner.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.home-title{
    text-align: center;
    font-size: 40px;
    margin-top: 25%;
}

.btn-get-started{
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    background-color: #157e7a;
    color: #fff;
    padding: 15px 25px;
    font-size: 25px;
    box-shadow: 0px 0px 10px 2px #005a56;
    text-decoration: none;
}

.icon-circle{
    border: solid 2px #000;
    padding: 4px 5px;
    border-radius: 20px;
}
.auth-form input{
    background-color: #D9D9D9;
    padding: 10px 25px;
    margin: 5px 0;
    border: none;
}
.btn-team{
    background-color: #157e7a;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
}